body{
  font-family: 'Source Sans Pro', sans-serif;
}

.ProductPreview{
  width: 100%;
  position: relative;
}
.ProductPreview > img {
  width: 100%;
}

.MainContainer {
  padding: 4% 12%;
  margin-top: 32px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}




